@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 11px;
  font-weight: bold;
/*  font-weight: 800; */
  margin: 0;
  min-height: 10px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: transparent;
  color: @base; 
  padding: 0;
  margin: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @base;
    border: 2px solid rgba(133, 102, 143, 0.9);
}

#workspaces {
/*  background-color: @base; */
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1px;
}

#workspaces button {
  padding: 0 3px;
  color: @pink;
}
/* #workspaces button.persistent 
  color: @sky;
} */
#workspaces button.empty {
  color: @red;
}
#workspaces button.focused {
  color: @pink;
}
#workspaces button.active {
  color: @lavender;
}
#workspaces button.urgent {
  background-color: @red;
  border-radius: 12px;
  padding: 0 10px;
}

#custom-wg {
  color: @rosewater;
  background-color: @base;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1px;
} 

#custom-wheater {
  color: @flamingo;
  background-color: @base;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1px;
}

#custom-updates {
  color: @pink;
  background-color: @base;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1px;
} 

#clock {
  color: @maroon;
  background-color: @base;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1px;
}

#clock.date {
  color: @peach;
  background-color: @base;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1px;
}

#network {
  color: @yellow;
  background-color: @base;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1px;
}

#pulseaudio.sound {
  color: @green;
  background-color: @base;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1px;
}

#pulseaudio.microphone {
  color: @teal;
  background-color: @base;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1px;
}

#battery {
  color: @sky;
  background-color: @base;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1px;
}

#backlight {
  color: @lavender;
  background-color: @base;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1px;
}

#idle_inhibitor {
  color: @blue;
  background-color: @base;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 1px;
}

#pulseaudio.sound.muted {
  color: @red;
  background-color: @base;
}

#pulseaudio.microphone.source-muted {
  color: @red;
  background-color: @base;
  padding: 0 10px;
}

#tray {
  border-radius: 10px;
  padding: 0 10px;
  background-color: @base; 
  margin: 0 1px;
}
